<div ng-controller="SignUpCTRL">
    <div class="container" >
      <div class="jumbotron" style="padding-bottom:0px;">
        <h2>Create your Login for Budget App</h2>
      </div>
      <form class="form-signin" name="regForm">
        <div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
          <label>Email</label>
          <input ng-model="user.email" name="email" type="email" class="form-control" placeholder="Type your email login address" required="" autofocus="">
          <p class="help-block" ng-show="regForm.email.$invalid">Enter a valid e-mail address.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : regForm.name.$invalid }">
          <label>Name</label>
          <input ng-model="user.name" name="name" type="text" class="form-control" placeholder="Type your name" required="">
          <p class="help-block" ng-show="regForm.name.$invalid">Enter your name.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid }">
          <label>Password</label>
          <input ng-model="user.password" name="password" type="password" ng-minlength="6" class="form-control" placeholder="Password"  required="">
          <p class="help-block" ng-show="regForm.password.$error.minlength">Min password length is 6 characters.</p>
        </div>
        <label class="checkbox"><a href="#!/Login"> Log in</a></label>
        <p style="color:red" ng-show="regError">{{regErrorMessage}}</p>

        <!-- <div class="row">
          <select id="txtDB" ng-model="user.db" class="form-control input-md" ng-change="changeDB(user.db)" data-ng-options="loginDB as loginDB.title for loginDB in loginDBs">
            <option value = "">Select Database</option>
          </select>
          <label class="checkbox"><a href="#/DBMan"> Manage Databases</a></label>
        </div> -->

        </br>
        <button type="button" ladda-loading="login.loading" data-style="expand-right" ng-disabled="!user.name || !user.email || !user.password" ng-click="signUp()" class="btn btn-lg segoe-ui-light ladda-button btn-primary btn-block"><span class="ladda-label">register</span></button>
      </form>
    </div>
  </div>